* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
}
body {
  background-color: var(--black-color-v1);
  color: var(--gray-color-v2);
  font-family: var(--font-default);
}
